.sortable-list {
  position: relative;
}

.sortable-list>.sidebar {
  position: absolute;
  margin: 0 0 4px 0;
  padding: 0;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;
  direction: rtl;
  white-space: nowrap;
}

.sortable-list>.display {
  padding-left: 28px;
}

.sortable-list .content {
  position: relative;
}

.sortable-list *+.pagination {
  margin-top: 0;
}

.toggler {
  display: inline-block;
  background-color: #ccc;
  padding: 2px;
  border-radius: 1em;
  box-shadow: inset 1px -1px 2px #eee;
  margin: 0 2px;
}

.toggler>.lever {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  padding: 3px 1em;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 1em;
  background-color: #999;
  color: #fff;
  text-decoration: none;
  transition: margin 200ms;
  box-shadow: inset -2px 2px 4px #ddd;
  font-weight: bold;
}

.toggler.active>.lever.asc {
  margin-left: 1.5em;
}

.toggler.active>.lever.desc {
  margin-right: 1.5em;
}

.sortable-list.loading .content::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.05);
  background-image:
    url(http://www.lettersmarket.com/uploads/lettersmarket/blog/loaders/common_gray/ajax_loader_gray_64.gif);
  background-repeat: no-repeat;
  background-position: center;
  cursor: wait;
}
